<div class="row">
  <div class="col-md-6">
    <h3>Tue June 23</h3>
    <table class="table table-striped">
      <tr> <td>13:30</td>  <td>Workshop overview and introductions</td> </tr>
      <tr> <td>13:45</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Before we start</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td> </tr>
      <tr> <td>14:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thurs June 25</h3>
    <table class="table table-striped">
      <tr> <td>13:30</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R (continued)</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td> </tr>
      <tr> <td>14:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Tue June 30</h3>
    <table class="table table-striped">
      <tr> <td>13:30</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing and exporting data with tidyverse</a><</td> </tr>
      <tr> <td>14:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thurs July 2</h3>
    <table class="table table-striped">
      <tr> <td>13:30</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with ggplot2</a><</td> </tr>
      <tr> <td>14:25</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
